html, body {
      background-color: #181818;
      font-family: Nunito;
      color: #ffffff;
      margin: 0;
      padding: 0%;
}
main {
      color: #ffffff; 
}

.header {
      position: absolute;
      height: 200px;
      width: 200%;
      border: none;
}

